# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Tic-Tac-Toe (Kotlin)/*
!/Simple Tic-Tac-Toe (Kotlin)/task/
/Simple Tic-Tac-Toe (Kotlin)/task/*
!/Simple Tic-Tac-Toe (Kotlin)/task/src

# Project exclude paths
/Topics/While loops/The sum of elements/out/
/Topics/While loops/The sum of elements/out/production/classes/